body {
    background-image: url('bg-vigyazz6_50x50.jpg'); /* Kép betöltése */
    /*background-size: cover; /* Kitölti az egész képernyőt */
    background-position: center; /* Középre igazítja */
    background-repeat:repeat; /* Nem ismétlődik */
    background-attachment: fixed; /* Fix háttér (nem görgetődik) */
    font-family: 'Rubik', sans-serif;
}

.rules-container {
    background: rgba(255, 255, 255, 0.85); /* Fehér, 70%-os áttetszőség */
    margin: 20px; 
    padding: 10px;
    border-radius: 10px; 
}

@media (min-width: 768px) { 
    .fullscreen-mobile {
        max-width: 600px;
        margin-left: auto;
        margin-right: auto;
    }
}

.navbar.bg-dark {
    background-color: #304ea4 !important;
}
.btn-primary {
    background-color: #30A44C !important; 
    border-color: #304ea4 !important;
}
#players-container {
    display: flex;
    flex-wrap: wrap;
}
@keyframes popIn {
    0% {
        transform: scale(0.8);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}
@keyframes popEffect {
    0% { transform: scale(1); background-color: inherit; box-shadow: none; }
    50% { transform: scale(1.2); background-color: red; box-shadow: 0 0 15px rgba(255, 0, 0, 0.7); }
    100% { transform: scale(1); background-color: red; box-shadow: 0 0 10px rgba(255, 0, 0, 0.5); }
}


.popEffect-animation {
    animation: popEffect 0.4s ease-in-out;
}
.popIn-animation {
    animation: popIn 0.4s ease-out forwards;
    transition: background-color 0.3s ease-in-out;
}

.card {
    padding: 4px;
    background-color:#304ea4;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.6);
    }

.card-body {
    padding: 2px 10px;
    color: white;
}
.rank-box {
    width: 30px;
    height: 30px;
    background-color: white;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    border-radius: 5px;
    font-size: 1.2rem;
}

.round-badge {
    display: inline-block;
    padding: 2px 6px;
    background-color:#A43088;
    color: white;
    border-radius: 10px;
    font-size: 0.8rem;
    margin-right: 5px;
}


.separator {
    height: 1px;
    background-color: #ccc; /* Halvány szürke vonal */
    margin: 8px 0;
}

.modal-title {
    font-size: 1rem;
}
#playerPrompt {
    font-size: 1.5rem; /* 1.5x nagyobb betűméret, állítható */
}

.player-name {
    font-weight: bold;
    margin-bottom: 5px;
}

.player-points {
    color: #007bff;
    font-size: 1.2rem;
}
#player-form {
    max-width: 400px;
    margin: auto;
}

#player-list li {
    padding: 10px;
    font-size: 1.1rem;
}
#player-list{
    padding-top: 20px;
}
#player-h2{
    color: #A43088;
    font-weight: bold;
}